<form method="post" action="Create" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

    <!--Name-->
    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
            Tên cấp độ <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
            <input type="text" name="Name" id="first-name" required="required" class="form-control ">
        </div>
    </div>

    <!--Point-->
    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
            Điểm <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
            <input type="text" name="Point" id="first-name" required="required" class="form-control ">
        </div>
    </div>

    <div class="ln_solid"></div>
    <div class="item form-group">
        <div class="col-md-6 col-sm-6 offset-md-3">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
